<% if logged_in? %>
  <div class="row">
    <div class= "col-md-8 col-md-offset-2">
      <% if false %>
      <div class="row">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </div>
      <% end %>
      <% if current_user.following.count == 0 %>
      <h3 class="text-center">You aren’t following anyone yet.<br/>
<small>Explore the links above to discover designs and artists.
The latest designs from artists you follow will appear here.</small></h3>
      <% else %>
       <h3>Design from people you've followed</h3>
        <%= render 'shared/feed' %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <p>Share your inspiration and see what's other inspiring others</p>
    <%= link_to "Learn", about_path, class: "btn btn-default" %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>
  </div>
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <ol id="posts" class="microposts">
          <% @microposts.each do |micropost| %>
          <li id="micropost-<%= micropost.id %>" class="col-md-6 col-xs-6 post">
            <div class="thumbnail content">
              <%= link_to (image_tag micropost.picture.url, class: "img-responsive"), micropost if micropost.picture? %>
              <span class="timestamp">
                <span class="glyphicon glyphicon-comment"><%= micropost.comments.count %>
                </span>
                <span class="glyphicon glyphicon-heart"><%= micropost.get_likes.size %>
                </span>
              </span>
            </div>
            <section class="user_info">
                <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
                <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
            </section>
          </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
<% end %>
