<h3>New Blog Post</h3>

<%= form_for :blog, url: blogs_path do |f| %>
	<div class="form-group">
		<%= f.label "Title" %>
		<%= f.text_field :title %>
	</div>
	<div class="form-group">
		<%= f.label "body" %>
		<%= f.text_area :body %>
	</div>

	<%= f.submit "Publish Post", class: "btn btn-primary" %>
<% end %>
