<div class="row">

  <div class="col-md-8 col-md-offset-2">
    <div class="submission-image-container">
      <h3><%= @micropost.title.upcase %><small> Design by <%= link_to @micropost.user.name, @micropost.user %></small></h3>
      <span class="content">
        <%= image_tag @micropost.picture.url if @micropost.picture? %>
      </span>
    </div>
    <div class="submission-container-footer">
      <div class="row">
        <div class="col-md-9">
          <h5>ABOUT "<%= @micropost.title.upcase %>" BY <%= @micropost.user.name.upcase %> </h5>
          <p><%= @micropost.content %></p>

          <div class="author-block">
            <section class="user_info">
                <%= link_to (image_tag @micropost.user.avatar, class: 'avatar'), @micropost.user %>
                <span class="user"><%= link_to @micropost.user.name, @micropost.user %></span>     </section>

                <% unless current_user?(@micropost.user) %>
                  <div id="follow_form">
                  <% if current_user.following?(@micropost.user) %>

                  <%= form_for(current_user.active_relationships.find_by(followed_id: @micropost.user.id),
                               html: { method: :delete },
                               remote: true) do |f| %>
                    <%= f.submit "Unfollow", class: "btn btn-xs" %>
                  <% end %>
                  <% else %>
                  <%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
                    <div><%= hidden_field_tag :followed_id, @micropost.user.id %></div>
                    <%= f.submit "Follow", class: "btn btn-primary btn-xs" %>
                  <% end %>

                  <% end %>
                  </div>
                <% end %>

          </div>

          <section class="stats tags">
            <% @micropost.tags.each do |tag| %>
                <span class="label">
                  <%= link_to tag.name, tag_path(tag.name) %>
                </span>
             <% end %>
          </section>
        </div>
        <div class="col-md-3">
            <% if current_user?(@micropost.user) %>
            <%= link_to "delete", @micropost, method: :delete,
                                             data: { confirm: "You sure?" } %>
          <% end %>


         <%= button_to like_micropost_path(@micropost), class: 'btn btn-default btn-sm', method: :get do %>
         <span class="glyphicon glyphicon-heart"> Like</span>
         <% end %>
         <span><%= @micropost.get_upvotes.size %> Likes</span>

          <span class="timestamp">
            <p>
              Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
            </p>
            <%#= @micropost.get_downvotes.size %>
            <%#= link_to "Dislike", dislike_micropost_path(@micropost), method: :get %>
          </span>
      </div>
      </div>
    </div>

    <div class="comment_count">
      <h4><%= pluralize(@micropost.comments.count, "Comment") %></h4>
      <% @comments.each do |comment| %>
      <div class="comment user_info">
        <div class="media-left">
          <%= link_to (image_tag comment.user.avatar, class: 'avatar'), comment.user %>
        </div>
        <div class="media-body">
          <h5 class="media-heading"><%= link_to comment.user.name, comment.user %></h5>
          <p><%= comment.content %></p>
        </div>

      </div>
      <% end %>

      <% if logged_in? %>
      <div class="comment user_info">
        <div class="media-left">
          <%= link_to (image_tag current_user.avatar, class: 'avatar'), current_user %>
        </div>
        <div class="media-body">
          <h5 class="media-heading"><%= link_to current_user.name, current_user %></h5>
          <%= render 'comments/form' %>
        </div>
      </div>
      <% end %>

    </div>

  </div>
</div>
